* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: auto;
    max-width: 1000px;
}

/* TÍTULO */
.TITULO {
    background-color: #f3f2f1;
    border: 1px solid #7C7C7C;
    text-align: start;
    display: flex;
    justify-content: space-around;
    height: 75px;
    padding-top: 5px;
    height: 20%;
}

/* LOGO */
#LOGO {
    max-width: 50px;
    max-height: 50px;
    border-radius: 100%;
    border: 1px solid #7C7C7C;
    box-shadow: 10px 10px 10px;
}

/* HEADER */
header {
    background-color: #f3f2f1;
    text-align: center;
    border: 1px solid #7C7C7C;
    height: 5%;
}

/* MENÚ */
nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    border: 1px solid #7C7C7C;
}

a {
    color: black;
    text-decoration: none;
}

/* CUERPO PRINCIPAL */
.cuerpo{
    height: 70%;
}
.INICIO {
    background-color: #f3f2f1;
    border: 1px solid #7C7C7C;
    text-align: center;
    display: inline-block;
    width: 650px;
    vertical-align: top;
    height: 713px;
}
p{
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* COLUMNA LATERAL */
.cuerpo-lado {
    display: inline-block;
    width: 344px;
    vertical-align: top;
    
}

/* NOTICIAS */
.noticias {
    background-color: #f3f2f1;
    border: 1px solid #7C7C7C;
    text-align: center;
    display: block;
    height: 65%
}

/* VIDEO */
.video {
    background-color: #f3f2f1;
    border: 1px solid #7C7C7C;
    text-align: center;
    display: block;
    height: 30%;
}

/* HOVER */
li:hover {
    background-color: #ff6347;
}

a:hover {
    color: white;
}

/* FOOTER */
footer{
    background-color: #f3f2f1;
    border: 1px solid #7C7C7C;
    text-align: center;
    height: 5%;
}